/**
  * CH01 - Resets
  * CH02 - Typography
  * CH03 - Page Structure
  * CH04 - Header & Navigation
  * CH05 - Content & Media
  * CH06 - Footer
  * CH07 - Miscellaneous
**/
/******* CH01 - Resets *******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: white;
}

/******* CH02 - Typography *******/
body {
  font-family: 'Hind', sans-serif;
  color: black;
}

p {
  letter-spacing: 1px;
  font-weight: 300;
  word-spacing: 1.3px;
  line-height: 24px;
  padding: 1rem !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4em;
  font-weight: 800;
  padding: 1rem !important;
}

h2 {
  font-size: 3em;
  padding: .4rem;
}

h3 {
  font-size: 1.8em;
  padding: 0.2rem !important;
}

h4 {
  font-size: 1em;
  padding: 1rem 0 !important;
}

strong {
  font-weight: 800;
}

header .main-heading {
  font-weight: 100;
  font-size: 3em;
}

header .main-heading span {
  font-weight: 900;
}

/******* CH03 - Page Structure *******/
body, html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.special-offers-container img {
  width: 100%;
}

.special-offers-container .img-container {
  position: relative;
}

.special-offers-container .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/******* CH04 - Header & Navigation *******/
nav ul {
  height: 80px;
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  list-style: none;
}

.jumbotron {
  padding: 0 !important;
}

/******* CH05 - Content & Media *******/
.licensing-info-container .table-heading {
  font-size: 2em;
}

.licensing-info-container .table-price {
  font-size: 1.8em;
  font-weight: 800;
}

.licensing-info-container .table-content ul {
  list-style: none;
}

.licensing-info-container .table-content li {
  margin-bottom: 1.3em;
}

.faq-container #accordion {
  width: 70%;
  margin: auto;
}

/******* CH06 - Footer *******/
footer {
  background: #333;
  color: #fff;
}

.site-info {
  background: #000;
  color: #888;
}

/******* CH07 - Miscellaneous *******/
.btn {
  color: #000 !important;
  width: 100% !important;
}

form button {
  background: white;
  border: 2px solid white;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

form button:hover, form button:focus {
  transition: 0.25s;
  box-shadow: inset 0 0 0 2em #ffcd06;
  border-color: #ffcd06;
  color: black;
}

/**
  * CH01 - Resets
  * CH02 - Typography
  * CH03 - Page Structure
  * CH04 - Header & Navigation
  * CH05 - Content & Media
  * CH06 - Footer
  * CH07 - Miscellaneous
**/
/******* CH01 - Resets *******/
/******* CH02 - Typography *******/
/******* CH03 - Page Structure *******/
/******* CH04 - Header & Navigation *******/
/******* CH05 - Content & Media *******/
/******* CH06 - Footer *******/
/******* CH07 - Miscellaneous *******/
/**
  * CH01 - Resets
  * CH02 - Typography
  * CH03 - Page Structure
  * CH04 - Header & Navigation
  * CH05 - Content & Media
  * CH06 - Footer
  * CH07 - Miscellaneous
**/
/******* CH01 - Resets *******/
/******* CH02 - Typography *******/
/******* CH03 - Page Structure *******/
/******* CH04 - Header & Navigation *******/
/******* CH05 - Content & Media *******/
/******* CH06 - Footer *******/
/******* CH07 - Miscellaneous *******/
/**
  * CH01 - Resets
  * CH02 - Typography
  * CH03 - Page Structure
  * CH04 - Header & Navigation
  * CH05 - Content & Media
  * CH06 - Footer
  * CH07 - Miscellaneous
**/
/******* CH01 - Resets *******/
/******* CH02 - Typography *******/
/******* CH03 - Page Structure *******/
/******* CH04 - Header & Navigation *******/
/******* CH05 - Content & Media *******/
/******* CH06 - Footer *******/
/******* CH07 - Miscellaneous *******/
/**
  * CH01 - Resets
  * CH02 - Typography
  * CH03 - Page Structure
  * CH04 - Header & Navigation
  * CH05 - Content & Media
  * CH06 - Footer
  * CH07 - Miscellaneous
**/
/******* CH01 - Resets *******/
/******* CH02 - Typography *******/
/******* CH03 - Page Structure *******/
@media (max-width: 575px) {
  header .container {
    margin-top: 82px;
  }
}

/******* CH04 - Header & Navigation *******/
/******* CH05 - Content & Media *******/
/******* CH06 - Footer *******/
/******* CH07 - Miscellaneous *******/

/*# sourceMappingURL=app.css.map */
