// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/**
  * CH01 - Resets
  * CH02 - Typography
  * CH03 - Page Structure
  * CH04 - Header & Navigation
  * CH05 - Content & Media
  * CH06 - Footer
  * CH07 - Miscellaneous
**/

@import './variables.scss';
@import './mixins.scss';

/******* CH01 - Resets *******/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

/******* CH02 - Typography *******/
body {
font-family: $font-stack;
color: black;
}

p {
  @include font-settings;
  padding: 1rem!important
}

h1 {
  font-size: 2.50em;
  padding: 1rem!important;
}
h2 {
  font-size: 2em;
  padding: .4rem;
}

h3 {
  font-size: 1.8em;
  padding: .2rem!important;
}

h4 {
  font-size: 1.6em;
  padding: 1rem 0!important
}
header {
  .main-heading {
    font-weight: 100;
    font-size: 3em;
  }
  .main-heading span {
    font-weight: 900;
  }
}
/******* CH03 - Page Structure *******/
body, html {
  overflow-y: scroll;
overflow-x: hidden;
}

.about-content .img-container {
  height: 232px;
}

.special-offers-container {
   img {
     width: 100%;
   }

  .img-container {
    position: relative;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
body {

}
header {

}

main {

}
.map iframe {
  width: 100%
}
footer {

}





/******* CH04 - Header & Navigation *******/
.mobile-navigation {
  ul {
background: none;
  }
  
}
nav {

   ul {
    height: 80px;
    @include nav-bar-gradient;
    list-style: none;    
  }
   

}
/******* CH05 - Content & Media *******/
/******* CH06 - Footer *******/
footer {
  background: #333;
  color: #fff;
}
footer div:nth-child(1) {

}

footer div:nth-child(1) div:nth-child(1) {

}

footer div:nth-child(1) div:nth-child(1) div:nth-child(1)  {

}
footer div:nth-child(1) div:nth-child(1) div:nth-child(2)  {

}
.site-info {
  background: #000;
  color: #888;
}


/******* CH07 - Miscellaneous *******/

.featured-content {
  img {
    width: 100%;
  }
}
.btn {
  border: none;
  color: white;
  overflow: hidden;
  margin: 1rem;
  padding: 0;
  text-transform: uppercase;
  width: 200px;
  height: 40px;

    
  &.button-3 {
    background-color: $btn-color-3;
  }

  &.button-4 {
    background-color: $btn-color-4;
  }
}
.services-content img {
  width: 50px;
}
.services-content ul {
  line-height: 1.7em;
}

.services-content img {
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}

 
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-30px);}
    60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-30px);}
    60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.main-btn {
    box-shadow: rgb(252, 226, 193) 0px 1px 0px 0px inset;
    background: linear-gradient(rgb(255, 196, 119) 5%, rgb(250, 215, 37) 100%) rgb(255, 196, 119);
    border-radius: 6px;
    border: 1px solid rgb(238, 180, 79);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 9px 24px;
    text-decoration: none;
    text-shadow: rgb(204, 159, 82) 0px 1px 0px;
    width: 70%;
}
form {

}

form input:nth-child(1) {

}
form input:nth-child(2) {

}
form textarea  {

}

form {
    button {
    @include btn-border-line(white, white);
  }
    button:hover, button:focus {
    @include btn-border-line-hover($primary-color);
  }
} 
.special-offers-container {

  .coupon-box-1 {
    background-color: #888;
    color: white;
  } 

  .coupon-box-2 {
    background-color: #aaa;
    color: white;
  } 
}

@import './lg-screens.scss';
@import './md-screens.scss';
@import './sm-screens.scss';
@import './xs-screens.scss';