/**
  * CH01 - Resets
  * CH02 - Typography
  * CH03 - Page Structure
  * CH04 - Header & Navigation
  * CH05 - Content & Media
  * CH06 - Footer
  * CH07 - Miscellaneous
**/

@import './variables.scss';
@import './mixins.scss';

/******* CH01 - Resets *******/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: white;
}

/******* CH02 - Typography *******/
body {
font-family: 'Hind', sans-serif;
color: black;
}

p {
  @include font-settings;
  padding: 1rem!important
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 4em;
  font-weight: 800;
  padding: 1rem!important;
}
h2 {
  font-size: 3em;
  padding: .4rem;
}

h3 {
  font-size: 1.8em;
  padding: .2rem!important;
}

h4 {
  font-size: 1em;
  padding: 1rem 0!important
}

strong {
  font-weight: 800;
}

header {
  .main-heading {
    font-weight: 100;
    font-size: 3em;
  }
  .main-heading span {
    font-weight: 900;
  }
}
/******* CH03 - Page Structure *******/
body, html {
  overflow-y: scroll;
overflow-x: hidden;
}


.special-offers-container {
   img {
     width: 100%;
   }

  .img-container {
    position: relative;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}




/******* CH04 - Header & Navigation *******/

nav {

   ul {
    height: 80px;
    @include nav-bar-gradient;
    list-style: none;    
  }
}

.jumbotron {
  padding: 0!important;
}
/******* CH05 - Content & Media *******/

.licensing-info-container  {
  .table-heading {
    font-size: 2em;
  }
  .table-price {
    font-size:1.8em;
    font-weight: 800;
  }
  .table-content ul {
    list-style: none;
  }
  .table-content li {
    margin-bottom: 1.3em;
  }
}

.faq-container {
  #accordion {
      width: 70%;
      margin: auto;
    }
}
/******* CH06 - Footer *******/
footer {
  background: #333;
  color: #fff;
}

.site-info {
  background: #000;
  color: #888;
}


/******* CH07 - Miscellaneous *******/
.btn {
  color: #000!important;
  width: 100%!important;
}



form {
    button {
    @include btn-border-line(white, white);
  }
    button:hover, button:focus {
    @include btn-border-line-hover($primary-color);
  }
} 

@import './lg-screens.scss';
@import './md-screens.scss';
@import './sm-screens.scss';
@import './xs-screens.scss';